/* Responsive Styles */

/* Min Width 992px and Max Width 1199px */
@media (max-width: 1200px){

  /* Header Part CSS Start */

  .navigation-container {
    font-size: 18px;
  }

  @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

  @keyframes slideOutToLeft {
      0% {
          transform: translateX(0);
          opacity: 1;
      }
      100% {
          transform: translateX(-100%);
          opacity: 0;
      }
  }

  .nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1B1E23;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    padding: 1rem;
    z-index: 1000; /* Ensure the dropdown appears above other items */
    transform: translateX(-100%);
    opacity: 0;
  }

  .nav-menu.show {
      display: flex;
      animation: slideInFromLeft 0.3s forwards;
  }

  .nav-menu.hide {
      display: flex;
      animation: slideOutToLeft 0.5s forwards;
  }

  .nav-menu-header {
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
  }

  .nav-menu-header .logo img {
    max-width: 44px;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start; /* Align items to the left */
    padding-top: 1.8rem;
  }

  .nav-menu ul li {
    margin-left: 0;
  }

  .navigation-container {
    font-size: 17px;
    padding-left: 1.2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .dropdown-button {
    display: block;
    padding-right: 1rem;
  }

  .header-logo img {
    max-width: 44px;
  }

  .header-logo a {
    color: #FEFEFE;
    font-size: 22px;
    font-weight: 700;
  }


  /* Header Part CSS End */

  /* ///////////////////////////////////////////////////////////// */

  /* Footer Part CSS Start */

  .footer-container {
    padding: 1rem;
  }

}

@media (max-width: 900px){

  /* Header Part CSS Start */


  .header-logo img {
    max-width: 42px;
  }

  .header-logo a {
    color: #FEFEFE;
    font-size: 20px;
    font-weight: 700;
  }
  .navigation-container {
    font-size: 17px;
    padding: 1rem 1rem;
  }

  /* Header Part CSS End */

  /* ///////////////////////////////////////////////////////////// */

  .footer-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
  }

  .footer-wrapper {
    align-items: center;
    gap: 1rem;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  .footer-menu {
    width: 100%;
    text-align: center;
  }

  .footer-menu ul {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-menu ul li ul {
    gap: 0.2rem;
  }

  .footer-menu ul li {
    margin-bottom: 0rem;
  }

  .copyright {
    margin-top: 1rem;
    text-align: center;
  }

  /* ///////////////////////////////////////////////////////////// */

  /* Index Part CSS Start */

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .features-header h2 {
    font-size: 30px;
  }
  .features-container {
    grid-template-columns: repeat(1, minmax(0, 1fr)); /* Stack cards in a single column */
  }

  .features-card {
    height: auto; /* Allow cards to grow based on content */
    min-height: 20rem;
  }

}

@media (max-width: 768px){

  /* Header Part CSS Start */

  .header-logo img {
    max-width: 40px;
  }

  .header-logo a {
    color: #FEFEFE;
    font-size: 18px;
    font-weight: 700;
  }

  /* Header Part CSS End */

  /* ///////////////////////////////////////////////////////////// */



}


@media (max-width: 600px){

  /* Header Part CSS Start */

  .header-logo img {
    max-width: 35px;
  }

  .header-logo a {
    font-size: 16px;
  }


  .dropdown-button {
    padding-right: 0.4rem;
  }

  /* Header Part CSS End */

  /* ///////////////////////////////////////////////////////////// */

  /* Index Part CSS Start */

  .hero-content h1 {
    font-size: 30px;
  }

  .hero-upload-container {
    border: .15rem solid #21252D; 
    padding: 0.6rem; 
    border-radius: 40px; 
  }

  .hero-upload-content {
    border-radius: 40px; 
    padding: 1.125rem 0.6rem; 
  }

  .upload-button {
    padding: 0.675rem 1.5rem; 
    font-size: 0.875rem; 
    border: 1.5px solid #FEFEFE; 
    border-radius: 40px; 
    font-size: 14px; 
    margin-left: 6rem; 
  }

  .upload-text {
    font-size: 0.875rem;
  }

}

@media (max-width: 400px){

  /* Header Part CSS Start */

  .header-logo img {
    max-width: 30px;
  }

  .header-logo a {
      font-size: 14px;
  }

  /* Header Part CSS End */

  /* ///////////////////////////////////////////////////////////// */

  
  .hero-upload-container {
    border: 0.1125rem solid #21252D; 
    padding: 0.45rem; 
    border-radius: 30px; 
  }
  
  .hero-upload-content {
    border-radius: 30px; 
    padding: 0.84375rem 0.45rem; 
  }
  
  .upload-button {
    padding: 0.50625rem 1.125rem; 
    font-size: 0.65625rem; 
    border: 1.125px solid #FEFEFE; 
    border-radius: 30px; 
    font-size: 10.5px; 
    margin-left: 4.5rem; 
  }
  
  .upload-text {
    font-size: 0.65625rem;
  }
  

}

@media (max-width: 380px){

  /* Header Part CSS Start */
  .hero-content h1 {
    font-size: 24px;
  }

  .header-logo img {
    max-width: 25px;
  }

  .header-logo a {
      font-size: 12px;
  }

  .navigation-container {
      padding: 0.5rem 0rem;
  }


  /* Header Part CSS End */

  /* ///////////////////////////////////////////////////////////// */



}